body  {
  background-color: #f0f0ff;
}

.card.minimal {
  overflow: hidden;
  position: relative;

  background: linear-gradient(to bottom left, #cbccff, #f0f0ff);
}

.card.minimal .card-body {
  z-index: 1;
  margin-top: 40px;
}

.card.minimal .card-title {
  color: #40415a;
  font-size: 16px;
  font-weight: 400;

  position: relative;
  top: 15px;
}

.card.minimal .card-text {
  color: #7c80b6;

  font-size: 38px;
  font-weight: bold;
}

.card.minimal .card-glyph {
  position: absolute;
  right: -7px;
  top: 50%;

  width: 150px;
  z-index: 0;

  opacity: 0.1;
  transform: translateY(-50%);
}