.modal p {
  margin: 0;
}

.modal .modal-content {
  margin: auto;
  max-width: 300px;
  background: linear-gradient(to right bottom, #eceeff, #dbdfff);
}

.modal .modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 20px 0;
  color: #53567e;
}

.modal .modal-body>* {
  margin-top: -10px;
}

.modal .loader {
  height: 60px;
  margin-bottom: 15px;
  transform: scale(0.5);

  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#514b82 0 0);

  background:
    var(--c), var(--c),
    var(--c), var(--c),
    var(--c), var(--c);

  animation:
    l34-1 2s infinite alternate,
    l34-2 2s infinite alternate;
}

@keyframes l34-1 {

  0%,
  20% {
    background-size: 20px 20px
  }

  40%,
  60% {
    background-size: 100% 20px
  }

  80%,
  100% {
    background-size: 20px 20px
  }
}

@keyframes l34-2 {

  0%,
  40% {
    background-position: 0 0, 100% 0, 50% 50%, 50% 50%, 0 100%, 100% 100%
  }

  60%,
  100% {
    background-position: 50% 0, 50% 0, 0 50%, 100% 50%, 50% 100%, 50% 100%
  }
}