.maximizeable.maximized {
  z-index: 10;

  top: 0;
  left: 0;
  position: fixed;

  width: 100%;
  height: 100%;

  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}

.maximizeable.maximized>.card {
  z-index: 11;

  width: 95%;
  height: 95%;

  margin: 100px;

  transition-duration: 0.2s;
  transition-property: width height margin;
}

.maximizeable.maximized>.card .card-body {
  width: 100% !important;
}

@media screen and (max-width: 876px) {
  .maximizeable.maximized>.card {
    width: 100%;
    height: 100%;

    margin: 10px;
  }
}