.table-responsive {
  margin-top: -15px;
}

.table {
  margin-bottom: 0;

  overflow: hidden;
  border-radius: 10px;

  --bs-table-color: #53567e;
  --bs-table-striped-color: #53567e;

  --bs-table-bg: #dfdfff;
  --bs-table-striped-bg: #e6e6ff;
}

.table thead {
  --bs-table-bg: #CED0FF;
  --bs-table-color: #53567e;
}

.table thead th {
  white-space: nowrap;
}

.table tbody td {
  text-transform: capitalize;
}

.table td:is(.cases, .deaths),
.table th:is(.cases, .deaths) {
  text-align: right;
}