.table-responsive {
  margin-top: -15px;
}

.table {
  margin-bottom: 0;

  overflow: hidden;
  border-radius: 10px;

  --bs-table-color: #53567e;
  --bs-table-striped-color: #53567e;

  --bs-table-bg: #dfdfff;
  --bs-table-striped-bg: #e6e6ff;
}

.table thead {
  --bs-table-bg: #CED0FF;
  --bs-table-color: #53567e;
}

.table thead th {
  white-space: nowrap;
}

.table tbody tr {
  animation-duration: 0.3s;
  animation-name: slide-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.table tbody tr[visible="false"] {
  display: none;
}

.table tbody td {
  text-transform: capitalize;
}

.table td:is(.cases, .deaths),
.table th:is(.cases, .deaths) {
  text-align: right;
}

.input-group.input-group--search {
  max-width: 300px;

  margin-bottom: 0;
  margin-left: auto;
}

.input-group.input-group--search .input-group-text {
  padding: 8px;
  background-color: #ced0ff;
}

.input-group.input-group--search img {
  width: 20px;
  opacity: 0.7;
}

.input-group.input-group--search input {
  color: #53567e;
  background-color: #ced0ff;
}

.input-group.input-group--search input::placeholder {
  color: #53567e;
  font-weight: 100;
}

.card.card-cust.card-cust--table .card-head>div {
  display: flex;
  align-items: center;
}

.card.card-cust.card-cust--table .card-head .card-title {
  margin-bottom: 0;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}